body{
    background-color: rgb(164, 189, 189);
}

h1{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Times New Roman';
    color: rgb(39, 118, 121);
}

.card{
    background-color: rgb(217, 230, 230);
    margin: auto;
    width: 500px;
    height: auto;
    padding: 15px;
    color: rgb(43, 117, 132);
}
