body{
    background-color: rgb(37, 37, 37);
}

h1{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Times New Roman';
    color: rgb(39, 118, 121);
}

.h2{
    color: blanchedalmond;
    text-align: center;
    margin-top: 250px;


}

.form{
    border: 15px ;
    box-shadow: 5px rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 500px;
    height: auto;
    padding: 15px;
    color: rgb(43, 117, 132);
}
input,select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(180, 199, 199);
    border-radius: 4px;
}

.c3{
    text-align: center;
}

.btn{
    width: auto;
    height: auto;
    padding: 10px;
    background-color: cadetblue;
    color: white;
    border: cadetblue;
    border-radius: 3px;
}